.cost-container {
  padding: 1rem 2rem;
  background-color: rgb(235, 235, 235);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}
